.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 2;
  background-color: #fff !important;
}

.navbar p {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

.name {
  position: absolute;
  left: 5%;
}

.commentary {
  position: absolute;
  left: 45%;
  color: #DC1F29;
  border-bottom: .2rem solid #DC1F29;
  height: 3.5rem;
  top: 1.5rem;
}

.score {
  position: absolute;
  right: 5%;
}

.scoreBreak {
  margin: 0 2rem;
}
