.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 2;
}

.name {
  position: absolute;
  left: 5%;
}

.commentary {
  position: absolute;
  left: 47%;
}

.score {
  position: absolute;
  right: 5%;
}
